.h_3 {
    width: 100%;
    background: #FFF;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 30%, rgba(246, 246, 246, 1) 29%);
    padding-top: 100px;
    padding-bottom: 100px;
}

.h3_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3_title h2 {
    font-size: 60px;
    color: #002C42;
    font-weight: 600;
}

.h3_title_right a {
    padding: 15px 40px;
    border: 1px solid #002C42;
    font-size: 20px;
    font-weight: 600;
    color: #002C42;
    text-decoration: none;
    background: transparent;
    text-wrap: nowrap;
}
.h3_title_right a:hover{
    background: #002C42;
    color: #FFFFFF;
}

.h3_item {
    background: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.h3_item img{
    width: 50px;
    height: 50px;
}
.h3_item:hover .h3_item_element {
    animation: h_3_animation 1s linear;
    height: 100%;
}

@keyframes h_3_animation {
    0% {
        height: 0%;
    }
    50% {
        height: 75%;
    }
    75% {
        height: 60%;
    }
    100% {
        height: 100%;
    }
}

.h3_item_element {
    position: absolute;
    width: 100%;
    height: 0;
    background: #002C42;
    left: 0;
    top: 0;
    z-index: 1;
}

.h3_item img {
    font-size: 50px;
    color: #F7A603;
    z-index: 2;
}

.h3_item h2 {
    font-size: 28px;
    color: #002C42;
    font-weight: 600;
    z-index: 2;
}

.h3_item p {
    font-size: 18px;
    color: #7F8284;
    font-weight: 400;
    z-index: 2;
}

.h3_item a {
    font-size: 19px;
    color: #002C42;
    font-weight: 600;
    text-decoration: none;
    z-index: 2;
}

.h3_item:hover a {
    color: white;
}

.h3_item:hover h2 {
    color: white;
}

.h3_item:hover p {
    color: white;
}
.h3_container{
    margin-top: 50px;
}
@media screen and (max-width: 1000px) {
    .h3_title {
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .h3_title_right {
        margin-top: 30px;
    }
    .h3_title h2 {
        font-size: 30px;
    }
    }