nav {
    position: absolute;
    width: 95vw;
    z-index: 6;
    top: 15px;
}

.navbar_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    height: 100px;
    width: 100%;
}
.nav_logo{
    width: 20%;
    height: 100%;
}
.nav_logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav_top_right {
    display: flex;
}

.nav_top_right {
    display: flex;
    gap: 20px;
    color: white;

}

.nav_top_right_item:first-child {
    border-left: none;
}

.nav_top_right_item {
    padding: 0 35px;
    border-left: 2px solid rgba(255, 255, 255, .15);
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav_top_right_item_icon svg {
    font-size: 30px;
    color: #F7A603;
}

.nav_top_right_item_text p, .nav_top_right_item_text h4 {
    margin: 0;
}

.nav_top_right_item_text p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.nav_top_right_item_text h4 {
    color: #FFFFFF;
    font-size: 20px;
}

.nav_container {
    position: relative;
}

.nav_box {
    position: absolute;
    width: 100%;
    background: #F7A603;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 30px;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
}

.nav_menu_item {
    font-size: 18px;
    color: #002C42;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.submenu{
    position: relative;
    transition: .5s;
}

.submenu:hover .nav_menu_subitem_box{
    height: 140px;
}
.submenu:hover .nav_menu_subitem_box li{
    display: flex;
}
.nav_menu_subitem_box li:hover{
    border-bottom: #F7A603 1px solid;
}
.nav_menu_subitem_box li:hover a{
    color: #F7A603;
}
.submenu .nav_menu_subitem_box li:last-child{
    border-bottom: none;
}

.nav_menu_subitem_box{
    position: absolute;
    top: 100%;
    list-style: none;
    padding: 0 ;
    background: white;
    display: flex;
    flex-direction: column;
    height: 0;
    width: 200px;
}
.nav_menu_subitem_box li{
    display: none;
    border-bottom: 1px solid black;
    padding: 10px 0;
}
.nav_menu_subitem_box li a{
    text-decoration: none;
    color: rgba(0,0,0,.6);
    padding: 0 15px;
    width: 100%;
    font-size: 18px;
    text-transform: none;
}
.nav_menu_item span {
    width: 0;
    height: 2px;
    background: #002C42;
}

.nav_menu_item.activeLink span {
    width: 10px;
}

.nav_menu_item:hover span {
    width: 20px;
}

.nav_end {
    padding: 10px 30px 10px 0;
}

.nav_end a {
    background: #002C42;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: RGB(255, 170, 1);
    text-decoration: none;
}

.nav_end a:hover {
    background: #fff;
}

@media screen and (max-width: 1000px) {
    .navbar_top {
        display: none;
    }
}

.navburger {
    display: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    right: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navburger svg {
    font-size: 40px;
}

.hidden_logo {
    padding-left: 30px;
    height: 100%;
    width: 20%;
}

.hidden_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media screen and (max-width: 800px) {
    .navburger {
        display: flex;
    }

    .nav_menu {
        display: none;

    }

    .nav_box {
        background: none;
        height: 80px;
    }

    .nav_box.active {
        background: #002C42;
    }

    .nav_menu.open {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 0;
        background: #F7A603;
        width: 100%;
        z-index: 9999;
        left: 0;
        padding: 40px 0;
    }

    .nav_menu.open .nav_menu_item {
        background: #F7A603;
        width: 100%;
        padding: 15px 30px ;
    }
    .nav_menu_subitem_box{
        right: 0;
        top: 0;
    }
}