.blog_box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}
.blog_box .h7_item{
    width: calc(100% / 3);
    cursor: pointer;
    text-decoration: none;
}
.blog_box .h7_item:hover h1{
    color: #5BC679;
}
.blog_page_box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 15px;
    margin: 50px 0;
}
.blog_content{
    width: 80%;
}
.blog_sidebar{
    width: 30%;
}
.blog_page_box img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.blog_resent{
    background: #F6F6F6;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 15px;
    min-height: 300px;
    padding: 10px;
}
.resent_item{
    width: 100%;
    min-height: 80px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #5BC679;
}
.resent_left{
    height: 80px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.resent_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.resent_right{
    font-size: 14px;
    font-weight: bold;
}
@media screen and (max-width: 1000px){
    .blog_page_box{
        flex-direction: column;
    }

    .blog_content{
        width: 100%;
    }
    .blog_sidebar{
        width: 400px;
    }
    .blog_box .h7_item{
        width: 100% !important;
       flex-wrap: wrap;
    }
    .blog_box{
        gap: 10px;
        flex-direction: column;
    }
    .blog_box img{
        height: 50%;
        object-fit: cover;
    }
}