.production_box{
    padding: 50px 0;
}

.sidebar_tabs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tab_item{

    position: relative;
    width: 100%;
    height: 60px;
    background: #F6F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
    text-decoration: none;
}
.tab_item_line{
    position: absolute;
    left: 0;
    height: 0;
    width: 5px;
    background: #5BC679;
}
.tab_item:hover .tab_item_line{
    height: 100%;
}
.tab_item:hover h1 , .tab_item:hover svg{
    color: #5BC679;
}
.tab_item h1 , .tab_item svg{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #002C42;
}

.tab_item.active .tab_item_line{
    height: 100%;
}
.tab_item.active h1 , .tab_item.active svg{
    color: #5BC679;
}


.sidebar_question{
    position: relative;
    background: url("@/assets/production/production_sidebar/DSC03769.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 20px;
}
.sidebar_question_img{
    background: url("@/assets/production/production_sidebar/DSC03769.jpg") center center no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 20px;
}
.sidebar_question_opacity{
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.33);
    width: 100%;
    height: 100%;
    z-index: 3;
    border-radius: 20px;
}
.sidebar_question_text{
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 20px;
    color: white;
}

.sidebar_question_text h1{
    font-size: 26px;
    font-weight: 600;
    color: #5BC679;
}
.sidebar_question_text p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
}

.sidebar_question_tell{
    font-size: 20px;
    color: #FFFFFF;
}

.sidebar_contact{
    padding: 20px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    border-radius: 20px;
}
.sidebar_contact h1{
    color: #002C42;
    font-size: 24px;
    font-weight: 600;

}
.sidebar_contact_item{
    display: flex;
    gap: 15px;
}
.sidebar_contact_item a{
    text-decoration: none;
    color: #7F8284;
    font-size: 18px;
}
.sidebar_contact_item svg{
    color: #5BC679;
    font-size: 30px;
}
.sidebar_contact_item p{
    color: #7F8284;
    font-size: 18px;

}

.sidebar_contact_line{
    position: absolute;
    width: 80%;
    bottom: 0;
    height: 3px;
    background: #5BC679;
    left: 10%;

}