.h_6{
    background: #002C42;
    width: 100%;
    height: 100vh;
    padding-top: 20%;
}
.h_6_content .h5_title h1{
    color: white;
    font-size: 60px !important;
}
.h_6_content .h5_title span{
    color: #F7A603;
    font-size: 16px;
}


.h_6_swiper_box{
    margin: 40px 0;
}


.h_6_swiper_item{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.h_6_swiper_item img{
    width: 100%;
    height: 100%;
}

.h_6_swiper_item_content{
    position: absolute;
    z-index: 10;
    bottom: -100%;
    padding: 20px;
    background: #F7A603;
    width: 100%;
    transition: .8s;
}
.h_6_swiper_item:hover .h_6_swiper_item_content{
    bottom: 0;
}

.h6_links{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.h6_links_1{
    padding: 10px 35px;
    border: 1px white solid;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.h6_links_1:hover{
    background: white;
    color: #002C42;
}
.h6_links_2{
    padding: 10px 35px;
    background: #F7A603;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.h6_links_2:hover{
    background: white;
    color: #002C42;
}


@media screen and (max-width: 1300px){
    .h_6{
        height: 85vh;
    }
}
@media screen and (max-width: 800px){
    .h_6{
        height: 85vh;
    }
    .h_6_content{
        margin-top: 20px;
    }
    .h_6{
        padding-top: 10px;
    }
}